In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv('database.csv')

In [3]:
df1 = df1[1000:2000]

In [4]:
df1.head()

,Date,Time,Latitude,Longitude,Type,Depth,Depth Error,Depth Seismic Stations,Magnitude,Magnitude Type,...,Magnitude Seismic Stations,Azimuthal Gap,Horizontal Distance,Horizontal Error,Root Mean Square,ID,Source,Location Source,Magnitude Source,Status
1000,07/29/1968,11:12:02,-22.531,-174.860,Earthquake,45.0,NaN,NaN,6.3,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM819475,ISCGEM,ISCGEM,ISCGEM,Automatic
1001,07/29/1968,23:52:18,-0.291,133.409,Earthquake,20.0,NaN,NaN,6.2,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM819494,ISCGEM,ISCGEM,ISCGEM,Automatic
1002,07/30/1968,20:38:43,-6.987,-80.544,Earthquake,31.8,NaN,NaN,6.5,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM819518,ISCGEM,ISCGEM,ISCGEM,Automatic
1003,08/01/1968,00:14:17,-26.822,-177.090,Earthquake,127.2,NaN,NaN,5.7,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM817534,ISCGEM,ISCGEM,ISCGEM,Automatic
1004,08/01/1968,20:19:22,16.316,122.067,Earthquake,25.0,NaN,NaN,7.6,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM817557,ISCGEM,ISCGEM,ISCGEM,Automatic

In [8]:
df1.head()

,Date,Time,Latitude,Longitude,Type,Depth,Depth Error,Depth Seismic Stations,Magnitude,Magnitude Type,...,Magnitude Seismic Stations,Azimuthal Gap,Horizontal Distance,Horizontal Error,Root Mean Square,ID,Source,Location Source,Magnitude Source,Status
1000,07/29/1968,11:12:02,-22.531,-174.860,Earthquake,45.0,NaN,NaN,6.3,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM819475,ISCGEM,ISCGEM,ISCGEM,Automatic
1001,07/29/1968,23:52:18,-0.291,133.409,Earthquake,20.0,NaN,NaN,6.2,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM819494,ISCGEM,ISCGEM,ISCGEM,Automatic
1002,07/30/1968,20:38:43,-6.987,-80.544,Earthquake,31.8,NaN,NaN,6.5,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM819518,ISCGEM,ISCGEM,ISCGEM,Automatic
1003,08/01/1968,00:14:17,-26.822,-177.090,Earthquake,127.2,NaN,NaN,5.7,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM817534,ISCGEM,ISCGEM,ISCGEM,Automatic
1004,08/01/1968,20:19:22,16.316,122.067,Earthquake,25.0,NaN,NaN,7.6,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM817557,ISCGEM,ISCGEM,ISCGEM,Automatic

In [10]:
df1.dtypes

Date                           object
Time                           object
Latitude                      float64
Longitude                     float64
Type                           object
Depth                         float64
Depth Error                   float64
Depth Seismic Stations        float64
Magnitude                     float64
Magnitude Type                 object
Magnitude Error               float64
Magnitude Seismic Stations    float64
Azimuthal Gap                 float64
Horizontal Distance           float64
Horizontal Error              float64
Root Mean Square              float64
ID                             object
Source                         object
Location Source                object
Magnitude Source               object
Status                         object
dtype: object

In [12]:
df1['Latitude'].dtypes

dtype('float64')

In [13]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 1000 to 1999
Data columns (total 21 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Date                        1000 non-null   object
 1   Time                        1000 non-null   object
 2   Latitude                    1000 non-null   float64
 3   Longitude                   1000 non-null   float64
 4   Type                        1000 non-null   object
 5   Depth                       1000 non-null   float64
 6   Depth Error                 4 non-null      float64
 7   Depth Seismic Stations      6 non-null      float64
 8   Magnitude                   1000 non-null   float64
 9   Magnitude Type              1000 non-null   object
 10  Magnitude Error             3 non-null      float64
 11  Magnitude Seismic Stations  6 non-null      float64
 12  Azimuthal Gap               6 non-null      float64
 13  Horizontal Distance         5 non-null      float64
 14  Horizontal Error            3 non-null      float64
 15  Root Mean Square            6 non-null      float64
 16  ID                          1000 non-null   object
 17  Source                      1000 non-null   object
 18  Location Source             1000 non-null   object
 19  Magnitude Source            1000 non-null   object
 20  Status                      1000 non-null   object
dtypes: float64(12), object(9)
memory usage: 164.2+ KB

CONVERTING ONE DATA TYPE TO ANOTHER

In [14]:
df2= df1.copy()
df2['Latitute']= df1['Latitude'].astype('int64')
df2.dtypes

Date                           object
Time                           object
Latitude                      float64
Longitude                     float64
Type                           object
Depth                         float64
Depth Error                   float64
Depth Seismic Stations        float64
Magnitude                     float64
Magnitude Type                 object
Magnitude Error               float64
Magnitude Seismic Stations    float64
Azimuthal Gap                 float64
Horizontal Distance           float64
Horizontal Error              float64
Root Mean Square              float64
ID                             object
Source                         object
Location Source                object
Magnitude Source               object
Status                         object
Latitute                        int64
dtype: object

CONVERTING DATE TIME DATA

In [15]:
df1.dtypes

Date                           object
Time                           object
Latitude                      float64
Longitude                     float64
Type                           object
Depth                         float64
Depth Error                   float64
Depth Seismic Stations        float64
Magnitude                     float64
Magnitude Type                 object
Magnitude Error               float64
Magnitude Seismic Stations    float64
Azimuthal Gap                 float64
Horizontal Distance           float64
Horizontal Error              float64
Root Mean Square              float64
ID                             object
Source                         object
Location Source                object
Magnitude Source               object
Status                         object
dtype: object

In [21]:
df1["Date"]=pd.to_datetime(df1["Date"], format= '%m/%d/%Y')

In [22]:
df1.dtypes

Date                          datetime64[ns]
Time                                  object
Latitude                             float64
Longitude                            float64
Type                                  object
Depth                                float64
Depth Error                          float64
Depth Seismic Stations               float64
Magnitude                            float64
Magnitude Type                        object
Magnitude Error                      float64
Magnitude Seismic Stations           float64
Azimuthal Gap                        float64
Horizontal Distance                  float64
Horizontal Error                     float64
Root Mean Square                     float64
ID                                    object
Source                                object
Location Source                       object
Magnitude Source                      object
Status                                object
dtype: object

In [23]:
df1.head(10)

,Date,Time,Latitude,Longitude,Type,Depth,Depth Error,Depth Seismic Stations,Magnitude,Magnitude Type,...,Magnitude Seismic Stations,Azimuthal Gap,Horizontal Distance,Horizontal Error,Root Mean Square,ID,Source,Location Source,Magnitude Source,Status
1000,1968-07-29,11:12:02,-22.531,-174.860,Earthquake,45.0,NaN,NaN,6.3,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM819475,ISCGEM,ISCGEM,ISCGEM,Automatic
1001,1968-07-29,23:52:18,-0.291,133.409,Earthquake,20.0,NaN,NaN,6.2,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM819494,ISCGEM,ISCGEM,ISCGEM,Automatic
1002,1968-07-30,20:38:43,-6.987,-80.544,Earthquake,31.8,NaN,NaN,6.5,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM819518,ISCGEM,ISCGEM,ISCGEM,Automatic
1003,1968-08-01,00:14:17,-26.822,-177.090,Earthquake,127.2,NaN,NaN,5.7,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM817534,ISCGEM,ISCGEM,ISCGEM,Automatic
1004,1968-08-01,20:19:22,16.316,122.067,Earthquake,25.0,NaN,NaN,7.6,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM817557,ISCGEM,ISCGEM,ISCGEM,Automatic
1005,1968-08-02,13:30:25,27.579,60.979,Earthquake,67.4,NaN,NaN,5.9,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM817580,ISCGEM,ISCGEM,ISCGEM,Automatic
1006,1968-08-02,14:06:43,16.519,-97.739,Earthquake,25.0,NaN,NaN,7.3,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM817583,ISCGEM,ISCGEM,ISCGEM,Automatic
1007,1968-08-03,04:54:34,25.637,128.490,Earthquake,15.0,NaN,NaN,6.7,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM817611,ISCGEM,ISCGEM,ISCGEM,Automatic
1008,1968-08-03,06:25:05,16.475,122.230,Earthquake,25.0,NaN,NaN,6.4,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM817612,ISCGEM,ISCGEM,ISCGEM,Automatic
1009,1968-08-04,11:41:25,6.498,126.777,Earthquake,100.0,NaN,NaN,6.1,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM817656,ISCGEM,ISCGEM,ISCGEM,Automatic

SELECTING COLUMN BASED ON DATA TYPES

In [32]:
df1.dtypes

Date                          datetime64[ns]
Time                                  object
Latitude                             float64
Longitude                            float64
Type                                  object
Depth                                float64
Depth Error                          float64
Depth Seismic Stations               float64
Magnitude                            float64
Magnitude Type                        object
Magnitude Error                      float64
Magnitude Seismic Stations           float64
Azimuthal Gap                        float64
Horizontal Distance                  float64
Horizontal Error                     float64
Root Mean Square                     float64
ID                                    object
Source                                object
Location Source                       object
Magnitude Source                      object
Status                                object
dtype: object

In [33]:
decimals= df1.select_dtypes('float')
decimals.head()

,Latitude,Longitude,Depth,Depth Error,Depth Seismic Stations,Magnitude,Magnitude Error,Magnitude Seismic Stations,Azimuthal Gap,Horizontal Distance,Horizontal Error,Root Mean Square
1000,-22.531,-174.860,45.0,NaN,NaN,6.3,NaN,NaN,NaN,NaN,NaN,NaN
1001,-0.291,133.409,20.0,NaN,NaN,6.2,NaN,NaN,NaN,NaN,NaN,NaN
1002,-6.987,-80.544,31.8,NaN,NaN,6.5,NaN,NaN,NaN,NaN,NaN,NaN
1003,-26.822,-177.090,127.2,NaN,NaN,5.7,NaN,NaN,NaN,NaN,NaN,NaN
1004,16.316,122.067,25.0,NaN,NaN,7.6,NaN,NaN,NaN,NaN,NaN,NaN

In [34]:
decimals.dtypes

Latitude                      float64
Longitude                     float64
Depth                         float64
Depth Error                   float64
Depth Seismic Stations        float64
Magnitude                     float64
Magnitude Error               float64
Magnitude Seismic Stations    float64
Azimuthal Gap                 float64
Horizontal Distance           float64
Horizontal Error              float64
Root Mean Square              float64
dtype: object

In [35]:
number_data = df1.select_dtypes(exclude = 'object')

In [36]:
number_data.head()

,Date,Latitude,Longitude,Depth,Depth Error,Depth Seismic Stations,Magnitude,Magnitude Error,Magnitude Seismic Stations,Azimuthal Gap,Horizontal Distance,Horizontal Error,Root Mean Square
1000,1968-07-29,-22.531,-174.860,45.0,NaN,NaN,6.3,NaN,NaN,NaN,NaN,NaN,NaN
1001,1968-07-29,-0.291,133.409,20.0,NaN,NaN,6.2,NaN,NaN,NaN,NaN,NaN,NaN
1002,1968-07-30,-6.987,-80.544,31.8,NaN,NaN,6.5,NaN,NaN,NaN,NaN,NaN,NaN
1003,1968-08-01,-26.822,-177.090,127.2,NaN,NaN,5.7,NaN,NaN,NaN,NaN,NaN,NaN
1004,1968-08-01,16.316,122.067,25.0,NaN,NaN,7.6,NaN,NaN,NaN,NaN,NaN,NaN

In [38]:
number_data.dtypes

Date                          datetime64[ns]
Latitude                             float64
Longitude                            float64
Depth                                float64
Depth Error                          float64
Depth Seismic Stations               float64
Magnitude                            float64
Magnitude Error                      float64
Magnitude Seismic Stations           float64
Azimuthal Gap                        float64
Horizontal Distance                  float64
Horizontal Error                     float64
Root Mean Square                     float64
dtype: object

In [46]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 1000 to 1999
Data columns (total 21 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Date                        1000 non-null   datetime64[ns]
 1   Time                        1000 non-null   object
 2   Latitude                    1000 non-null   float64
 3   Longitude                   1000 non-null   float64
 4   Type                        1000 non-null   object
 5   Depth                       1000 non-null   float64
 6   Depth Error                 4 non-null      float64
 7   Depth Seismic Stations      6 non-null      float64
 8   Magnitude                   1000 non-null   float64
 9   Magnitude Type              1000 non-null   object
 10  Magnitude Error             3 non-null      float64
 11  Magnitude Seismic Stations  6 non-null      float64
 12  Azimuthal Gap               6 non-null      float64
 13  Horizontal Distance         5 non-null      float64
 14  Horizontal Error            3 non-null      float64
 15  Root Mean Square            6 non-null      float64
 16  ID                          1000 non-null   object
 17  Source                      1000 non-null   object
 18  Location Source             1000 non-null   object
 19  Magnitude Source            1000 non-null   object
 20  Status                      1000 non-null   object
dtypes: datetime64[ns](1), float64(12), object(8)
memory usage: 164.2+ KB

TypeError: data type 'Object' not understood